extends layout

block content
  body(id="page-top")
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
          <span>Citizen Card</span>
        </a>
      </div>
    </nav>

    <!-- Masthead -->    
    header.masthead.bg-primary.text-white.text-center
      .container.d-flex.align-items-center.flex-column
        <!-- Masthead Avatar Image -->
        img.masthead-avatar.mb-5(src="img/citizencardlogo.png" alt="Citizen Card Logo")

        <!-- Masthead Heading -->
        h1.masthead-heading.text-uppercase.mb-0 Citizen Card v1.0
        small.masthead-subheading.mb-0 Get rewarded for being a citizen. Gain access, discounts and rewards for your loyalty 

        <!-- Icon Divider -->
        .divider-custom.divider-light
          .divider-custom-line
          .divider-custom-icon
            i.fas.fa-credit-card
          .divider-custom-line

        <!-- Scroll down circle -->
        a.btn.btn-outline-light.btn-social.mx-1.mt-3.js-scroll-trigger(href="#1")
          i.fa.fa-chevron-down

    <!-- Section -->
    section.page-section.text-center(id="1")
      .container
        h2.page-section-heading.text-center.text-uppercase.mb-3 Features

        <!-- Icon Divider -->
        .divider-custom.divider
          .divider-custom-line
          .divider-custom-icon
            i.fas.fa-credit-card
          .divider-custom-line   

        p.text-center.lead.mb-5 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

        .row-12
          .col-12
            .row-3
              img.mb-2(src="img/citizencardlogo.png" alt="Citizen Card Logo" height="100px")
              h4 1 
            .row-3
              img.mb-2(src="img/citizencardlogo.png" alt="Citizen Card Logo" height="100px")
              h4 2
            .row-3
              img.mb-2(src="img/citizencardlogo.png" alt="Citizen Card Logo" height="100px")
              h4 3 
            .row-3
              img.mb-2(src="img/citizencardlogo.png" alt="Citizen Card Logo" height="100px")
              h4 4

    <!-- Section -->
    section.page-section.bg-primary.text-white(id="2")
      .container
        h2.page-section-heading.text-center.text-uppercase.mb-3 Get rewarded for your loyalty

        <!-- Icon Divider -->
        .divider-custom.divider-light
          .divider-custom-line
          .divider-custom-icon
            i.fas.fa-credit-card
          .divider-custom-line

        p.text-center.lead
          | Get rewarded for being a citizen. Gain access, discounts and rewards for your loyalty.  
        p.text-center 
          a(href="/signup")
            button.btn.btn-lg.btn-block.btn-secondary(type="button") Claim your ID

    <!-- Section -->
    section.page-section(id="3")
      .container
        h2.page-section-heading.text-center.text-uppercase.mb-3 Get rewarded

        <!-- Icon Divider -->
        .divider-custom.divider
          .divider-custom-line
          .divider-custom-icon
            i.fas.fa-credit-card
          .divider-custom-line 

        p.text-center.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.      

    <!-- Footer -->
    footer.footer.text-center
      .container
        .row
          <!-- Footer Location -->
          .col-lg-6
            h4.text-uppercase.mb-4 Contact us
            p.lead.mb-0 control.ottawa<i class="fas fa-at"></i>gmail.com</p>

          <!-- Footer About Text -->
          .col-lg-6
            h4.text-uppercase.mb-4 About Citizen Card
            p.lead.mb-0 Card by Citizen is a city wide access, discount, membership, reward and loyalty card system. 

    <!-- Copyright Bar -->
    section.copyright.py-4.text-center.text-white
      .container
        small Made in Bayshore with ❤ by 
          a(href="http://citizeninformationgroup.com") Citizen IG
          |  2020
      </div>
    </section>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

      <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/freelancer.min.js"></script>
  