extends layout

block content
  body
    .container
      .row
        .col-2
        .col-8
          <!-- HTML login screen form -->
          form(action="/login" method="post")
            h1 Login
            .form-group
              .input-group.mb-3
                .input-group-prepend
                  span.input-group-text(id="userprepend") Citizen
                input.form-control(type="text" id="name" aria-describedby="userprepend" name="username")

            .form-group                 
              input.form-control(type="text" id="password" placeholder="Password" name="password")
            
            .form-group.text-right
              button.btn.btn-outline-primary(type="submit" value="Submit") Sign in
        .col-2
